footer {
	background-color: #191919;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer .container {
	padding-top: 60px;
	padding-bottom: 60px;
}
footer .row {
	align-items: center;
}
.closing {
	color: #b9b9b9;
	padding: 20px;
	font-size: 20px;
}
.info span {
	padding-bottom: 4px;
}
pre {
	margin: 0;
	display: flex;
}
footer .about {
	display: flex;
	gap: 20px 0px;
	flex-direction: column;
	align-content: center;
	align-items: flex-start;
	width: fit-content;
}
footer .logo {
	width: 140px;
}
footer .about h1 {
	width: 100%;
	width: fit-content;
	color: #b9b9b9;
}
footer .social {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	gap: 21px;
}
footer .social a {
	padding: 10px;
	display: flex;
	font-size: 30px;
	width: 50px;
	border-radius: 50%;
	background-color: #b9b9b9;
	text-align: center;
	transition: 0.5s;
	transition: var(--main-transition);
	justify-content: center;
	align-items: center;
}
footer .social a.whatsapp:hover {
	background-color: var(--primary-color);
}
footer .social a.youtube:hover {
	background-color: red;
}
footer .social a.facebook:hover {
	background-color: #0573e7;
}
footer p {
	color: #b9b9b9;
	line-height: 1.4;
}

footer .links ul {
	display: flex;
	margin: 0;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
footer .links ul li {
	font-size: 20px;
	gap: 0.5rem;
	padding: 10px;
	transition: var(--main-transition);
	display: flex;
	width: 100%;
	align-items: center;
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
}
footer .links ul li:hover {
	gap: 1rem;
}
footer .links ul li:not(:last-child) {
	border-bottom: solid 1px #b9b9b9;
}
footer .links ul li svg {
	color: var(--primary-color);
	padding-right: 10px;
}
footer .links ul li a {
	width: 100%;
	color: #b9b9b9;
	display: inline-block;
	transition: 0.5s;
	transition: var(--main-transition);
}
footer .links ul li:hover a {
	color: var(--primary-color);
}
footer .info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
footer .info div div {
	display: flex;
	flex-direction: column;
	padding: 0;
}
footer .info div {
	gap: 1rem;
	display: flex;
	align-items: center;
	padding: 10px;
	color: #b9b9b9;
}
footer .info svg {
	font-size: 30px;
}
span.line {
	width: 100%;
	height: 1px;
	background-color: #b9b9b9;
}
footer .contact-info div {
	direction: ltr;
}
