.courses {
	gap: 40px 0;
}
.courses .card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: var(--main-transition);
	background-color: transparent;
	padding-bottom: 10px;
	box-shadow: 0px 0px 20px 7px #0000001f;
	border: none;
	border-radius: 30px 8px 8px;
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
	-webkit-border-radius: 30px 8px 8px;
	-moz-border-radius: 30px 8px 8px;
	-ms-border-radius: 30px 8px 8px;
	-o-border-radius: 30px 8px 8px;
}
.courses .card a + span {
	font-weight: 300;
	font-size: 13px;
	margin: -7px 2px 0;
	display: block;
}
.courses .card span.dark {
	background-color: #2b2b2b;
	color: white;
}
.courses .card span.light {
	background-color: #cacaca;
}
.courses .card .details.light {
	border-top: solid 1px #ececec;
}
.courses .card .details.dark {
	border-top: solid 1px #2b2b2b;
}
.courses .card img {
	border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-ms-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
}

.courses .card h3 {
	margin: 5px 0 5px;
	transition: var(--main-transition);
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
}

.courses .card:hover h3 {
	color: var(--primary-color) !important;
}
.courses .card .details {
	padding: 10px 15px;
	font-size: 14px;
	width: 100%;
}
.courses .card .date {
	overflow-wrap: anywhere;
	font-style: italic;
	line-height: 2;
	font-weight: bold;
}
.courses .card .date span {
	box-shadow: -1px 1px 0px 1px #00000054;
	padding: 1px 4px;
	border-radius: 4px;
	font-style: normal;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
