.not-found button {
	outline: none;
	border-radius: 4px;
	background-color: var(--secondary-color);
	transition: var(--main-transition);
	border: solid 2px var(--secondary-color);
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.not-found button:hover {
	border: solid 2px var(--secondary-color);
	color: var(--secondary-color);
	background-color: transparent;
}
@media (max-width: 767px) {
	.not-found h2 {
		text-align: center;
	}
}
.not-found .row div:nth-child(2) {
	width: max-content;
}
