.why-code-plus .card {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: var(--main-transition);
	padding: 30px 10px;
	box-shadow: 11px 12px 7px 2px #0000001f;
	border: none;
	-webkit-transition: var(--main-transition);
	-moz-transition: var(--main-transition);
	-ms-transition: var(--main-transition);
	-o-transition: var(--main-transition);
}
.why-code-plus .card:hover {
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
}
.why-code-plus .card.light {
	background-color: #eee;
}
.why-code-plus .card .title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
}
.why-code-plus .card h3,
.why-code-plus .card svg {
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}
.why-code-plus .card svg {
	font-size: 5em;
	margin: 15px 0;
}
.why-code-plus .card:hover h3,
.why-code-plus .card:hover svg {
	color: var(--primary-color) !important;
}
.why-code-plus .slide {
	justify-content: space-between;
}
.why-code-plus .section {
	display: flex;
	min-height: calc(100vh - 67px);
	align-items: center;
}
